<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <a>ヘッダー</a>
    <%= link_to '[index]', twitters_path %>
    <%= link_to '[new]', new_twitter_path %>
  <body>
    <%= yield %>
  </body>
  <footer>
    <a>フッター</a>
  </footer>
</html>
