<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <a>つぶやいてみよう</a>
    <a href="/">[トップページ]</a>
    <%= link_to '[一覧]', twitters_path %>
    <%= link_to '[新規投稿]', new_twitter_path %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <a>つぶやきツイート課題株式会社（注：架空）</a>
  </footer>
</html>
